<div class="container ">
    <div class="mt-5">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{titulo}}</mat-card-title>

            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <ul *ngIf="cliente">
                            <li>{{cliente.nombre}}</li>
                            <li>{{cliente.apellido}}</li>
                            <li>{{cliente.email}}</li>
                            <li>{{cliente.createAt | date:"dd-MM-yyyy"}}</li>
                        </ul>
                        <div class="mb-3 col-sm">
                            <label for="formFileSm" class="form-label">Seleccionar foto</label>
                            <input (change)="seleccionarFoto($event)" class="form-control form-control-sm"
                                id="formFileSm" type="file">
                        </div>
                        <div *ngIf="progreso>0" class="progress" role="progressbar" aria-label="Success example"
                            attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped" [ngStyle]="{width:progreso+'%'}">
                                {{progreso}}%</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 col-sm">
                            <img *ngIf="cliente?.foto" src="http://localhost:8009/uploads/img/{{cliente.foto}}"
                                width="400" alt="" class="img-thumbnail rounded">
                        </div>
                    </div>

                </div>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="subirFoto()" [disabled]="!imagenSeleccionada"> Subir
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>